@{ 
    ViewBag.Title = "Dr. Mídias";
}


@*
        SLIDER

        <header>

        <div id="text-carousel" class="carousel slide vertical-center" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <p>Você é o rei das mídias sociais?</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat! </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#text-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div>

    </header>*@

<section class="container-fluid">
    <div class="row">
        <div class="banner">
            <div class="centeredText">
                <div class="col-md-12 col-xs-12">
                    <p class="tituloBanner section-heading">Deixe o Dr. Mídias examinar como está sua atuação nas redes sociais!</p>
                    <hr class="light">
                    <div class="col-md-12 col-xs-12">
                        <a href="/midiasocial/faca-o-teste" class="btn btn-info confirmButton" id="buttonDescubra"> DESCUBRA </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div id="pips">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <img class="img-responsive center" src="~/img/pip1.png" />
                <p class="tituloPip">Tecnologia</p>
                <p>Utilizando uma ferramenta completa de análise de dados, Doutor Mídias consegue ter um diagnóstico da saúde da sua empresa na mídias sociais. Oferecemos um <strong>Plano Básico</strong>, que proporciona o resultado do Exame, sua posição no ranking contra as demais empresas e dicas rápidas de como melhorar a saúde do seu negócio. Com o <strong>Plano Gold</strong> você sai na frente! Ele conta também com uma avaliação de parâmetros adicionais e sugestões personalizadas de como potencializar seu impacto. Este é o seu plano se você planeja bombar nas redes sociais!</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <img class="img-responsive center" src="~/img/pip2.png" />
                <p class="tituloPip">Exame</p>
                <p>Deixe o trabalho por nossa conta! Você irá gastar apenas alguns minutinhos para enviar ao Doutor Mídias algumas informações a respeito das suas redes sociais e como seus consumidores respondem aos seus conteúdos. <strong>O exame é rápido e indolor.</strong> É com base nestas informações que o Doutor vai avaliar sua performance no Facebook, Instagram, Linkedin e Twitter! O doutor sempre terá o diagnóstico perfeito para você!</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <img class="img-responsive center" src="~/img/pip3.png" />
                <p class="tituloPip">Ranking</p>
                <p>É chageada a hora do <strong>diagnóstico</strong>! Após analisar os dados que você compartilhou, o Doutor Mídias vai colocar sua empresa no <strong>ranking</strong>, comparando a sua performance com as demais empresas da nossa base. O resultado do exame mostra em quais redes sociais existem <strong>oportunidades de melhoria</strong> e o Doutor te dará dicas de como melhorar em aspectos mais críticos, além de chegar de maneira mais precisa em seus clientes.</p>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div id="impactoDigital" class="row">
        <div class="col-md-12 col-xs-12">
            <p class="tituloBanner">O que é impacto digital?</p>
            <p>O <strong>Impacto Digital</strong> é a capacidade da sua empresa de gerar ação através das mídias e é atualmente o principal meio de se relacionar com eles e engajá-los com sua marca.</p>
            <p>Quando sua empresa compartilha uma informação no Facebook, uma foto no Instagram ou mesmo uma notícia no Twitter e alguém interage do outro lado, isso é a sua influência. Quanto mais influente sua empresa for, maior será seu <strong>Impacto Digital</strong></p>
            <p>O <strong>Doutor Mídias</strong> irá medir seu Impacto Digital através do <strong>Exame</strong></p>
            <img class="img-responsive center" src="~/img/impacto.png" />
            <div class="row">
                <a href="/midiasocial/faca-o-teste" class="btn btn-warning confirmButton">DESCUBRA O QUANTO VOCÊ <br /> IMPACTA SEUS CLIENTES  </a>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div id="Ranking">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p class="tituloBanner">Como funciona o ranking</p>
                <p>O ranking do Doutor Mídias consiste em uma métrica secreta e bastante datalhada. É fácil descobrir qual empresa tem o maior <strong>Impacto Digital</strong>. Nessas métricas, leva-se em consideração as informações colocadas em seu <strong>Exame</strong> usando as redes Facebook, Twitter e Instagram.</p>
                <p>Com base nas informações de Ranking, você consegue informações vitais de como concorrentes estão tratando suas redes sociais.</p>
                <p>Com o <strong>Diagnóstico</strong> do Doutor Mídias você conseguirá explorar pontos em suas mídias que precisam de atenção e assim alcançar um maior número de clientes.</p>
                <img class="img-responsive center" src="~/img/ranking-min.jpg" />
                
                <div class="col-sm-12">
                    <p id="rankingImageDescription">
                        Sua empresa está no topo do ranking?
                    </p>
                    <img class="img-responsive center" src="~/img/ranking.png" />
                    <a href="/midiasocial/faca-o-teste" class="btn btn-warning confirmButton">FAÇA O EXAME E DESCUBRA <br /> SUA POSIÇÃO NO RANKING </a>
                </div>
            </div>
        </div>
    </div>
</section>
