
@{
    ViewBag.Title = "Obrigado";
}


 <section class="container-fluid">
    <div class="row">
        <div class="banner">
            <div class="centeredText">
                <div class="col-md-12 col-xs-12">
                    <p class="tituloBanner section-heading">Obrigado!<br /> Após a confirmação do pagamento, vamos te enviar um relatório 
                    tão irado que você vai querer compartilhar com seus amigos, aguarde.</p>
                </div>
            </div>
        </div>
    </div>
</section>

