
@{
    ViewBag.Title = "Exame";
    Layout = "~/Views/Shared/_Layout_Clean.cshtml";
}

<section style="margin-top: 5%;">
    <div class="row" >
        <div class="col-lg-6"  style="margin-top: -8%">
            <div style="text-align:center" class="center">
                <img class="center" src="~/img/interna-planos.png" />
            </div>
        </div>

        <div class="col-lg-6">
            <div style="float:left">
                <br />
                <br />
                <br />
                <div>
                    <form id="companyForm" class="form-horizontal" action="https://pag.ae/bmkTBdv">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="fullname">Nome Completo:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="fullName" id="fullName" placeholder="João da Silva" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">E-mail:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" id="email" placeholder="emails@email.com" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companyName">Nome da Empresa:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Empresa ME" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="identityId">CPF ou CNPJ:</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="identityId" id="identityId" placeholder="12345678909 (apenas números)" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companyType">Ramo da Empresa:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="companyType" id="companyType" required>
                                    <option value="">Selecionar</option>
                                    <option value="Indústria">Indústria</option>
                                    <option value="Comércio">Comércio</option>
                                    <option value="Serviços">Serviços</option>
                                    <option value="Tecnologia">Tecnologia</option>
                                    <option value="Autônomo">Autônomo</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companySize">Tamanho da Empresa:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="companySize" id="companySize" required>
                                    <option value="">Selecionar</option>
                                    <option value="até 9 pessoas">até 9 pessoas</option>
                                    <option value="De 10 a 49">De 10 a 49</option>
                                    <option value="50 ou mais">50 ou mais</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companySize">Plano:</label>
                            <div class="col-sm-8">
                                <input type="radio" name="plan" id="basicPlan" value="basic" checked="checked" /> Básico &nbsp
                                <input type="radio" name="plan" id="goldPlan" value="gold" /> Gold
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Facebook</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control midia" name="Facebook" id="LikesFacebook" placeholder="Link da sua FanPage no Facebook">

                            </div>
                        </div>
                        <div class="form-group goldPlanOption">
                            <label class="col-sm-4 control-label">Instagram</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control midia" name="Instagram" id="SeguidoresInstagram" placeholder="Link da sua page no Instagram">

                            </div>
                        </div>


                        <div class="form-group goldPlanOption">
                            <label class="col-sm-4 control-label">Linkedin</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control midia" name="Linkedin" id="SeguidoresLinkedin" placeholder="Link da sua page no Linkedin">

                            </div>
                        </div>


                        <div class="form-group goldPlanOption">
                            <label class="col-sm-4 control-label">Twitter</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control midia" name="Twitter" id="SeguidoresTwitter" placeholder="Link da sua page no Twitter">
                                @*<input type="number"  class="form-control midia" name="PorSemanaTwitter" id="PorSemanaTwitter" placeholder="Média de tweets por semana">*@
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button class="btn btn-info confirmButton" id="discover">DESCUBRA</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <img src="~/img/logo-pagseguro1.png" />
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br /><br />
        <div class="col-lg-12 text-center">
            <p class="tituloPip ">Mas o que eu estou comprando?</p>
            <p>
                Você está pagando este valor simbólico pelo processo de avaliação de dados

                através de um software exclusivo e dos custos de manutenção do site.
            </p>

            <img class="img-responsive center" src="~/img/ranking_ex.jpeg" width="200" />
            <p>

                Com este valor você adquire o diagnóstico do Doutor Mídias com feedbacks

                baseados na análise de suas mídias. Levamos em consideração seu impacto digital e suas méticas.

                Com o plano Gold, daremos mais informações de outros mídias, além de uma análise mais detalhada.

            </p>
        </div>
    </div>
</section>

<script>
    function getFormObj(formId) {
        var formObj = {};
        var inputs = $('#' + formId).serializeArray();
        $.each(inputs, function (i, input) {
            formObj[input.name] = input.value;
        });
        return formObj;
    }

    $(document).ready(function () {
        //your code here

        var url = '/api/CompanyAPI';


        var changePaymentItem = function () {
            console.log("mudar o form");
        };


        $("#goldPlan").click(function () {
            $(".goldPlanOption").show();
            var link = document.getElementById("companyForm");
            link.setAttribute("action", "https://pag.ae/bbkTBdy");
        });

        $("#basicPlan").click(function () {
            $(".goldPlanOption").hide();
            var link = document.getElementById("companyForm");
            link.setAttribute("action", "https://pag.ae/bmkTBdv");
        });

        $("#discover").click(function () {
            var formData = getFormObj("companyForm");


            if (formData.fullName == "" ||
                formData.email == "" ||
                formData.companyName == "" ||
                formData.identityId == "" ||
                formData.companyType == "" ||
                formData.companySize == "")
            {
                return;
            }

            console.log(formData);

            $.post(url, formData, function (response) {
                console.log(response);
                // callback success
            }, function (response) {
                console.log("500 - Something went wrong with the API");
                // callback error
            });


            $.get(url, function (response) {
                console.log(response);
                // callback success
            }, function (response) {
                // callback error
            });
        }

        //$.post(url, { name: 'Darlan', lastname: 'Mendonça' }, function (response) {
        //    // callback success
        //}, function (response) {
        //    // callback error
        );
    });

</script>
