<section style="margin-top: 5%">
    <div class="container">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="row">
                <div>
                    <form id="companyForm" action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post" onsubmit="PagSeguroLightbox(this); return false" class="form-horizontal">
                        <input type="hidden" name="itemCode" value="FE803541C7C756AFF4E05F9DE3FCB7B2" />
                        @*<input type="hidden" name="iot" value="button" />*@
                        @*<input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />*@

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="fullname">Nome Completo:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Nome Completo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="email">E-mail:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" id="email" placeholder="emails@email.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companyName">Nome da Empresa:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Empresa ME">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companyType">Ramo da Empresa:</label>
                            <div class="col-sm-8">
                                <select class="form-control"name="companyType" id="companyType">
                                    <option>Selecionar</option>
                                    <option>Indústria</option>
                                    <option>Comércio</option>
                                    <option>Serviços</option>
                                    <option>Tecnologia</option>
                                    <option>Autônomo</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-4" for="companySize">Tamanho da Empresa:</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="companySize" id="companySize">
                                    <option>Selecionar</option>
                                    <option>Pequena</option>
                                    <option>Média</option>
                                    <option>Grande</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-info confirmButton" id="discover">DESCUBRA</button>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function getFormObj(formId) {
        var formObj = {};
        var inputs = $('#' + formId).serializeArray();
        $.each(inputs, function (i, input) {
            formObj[input.name] = input.value;
        });
        return formObj;
    }

    $(document).ready(function () {
        //your code here

        var url = 'http://localhost:50174/api/CompanyAPI';

        //var data = $('#form').serializeArray().reduce(function (obj, item) {
        //    obj[item.name] = item.value;
        //    return obj;
        //}, {});

        


        $("#discover").click(function () {
            var formData = getFormObj("companyForm");
            console.log(formData);

            $.post(url, formData, function (response) {
                console.log(response);
                // callback success
            }, function (response) {
                // callback error
            });


            $.get(url, function (response) {
                console.log(response);
                // callback success
            }, function (response) {
                // callback error
            });
        }

        //$.post(url, { name: 'Darlan', lastname: 'Mendonça' }, function (response) {
        //    // callback success
        //}, function (response) {
        //    // callback error
        );
    });

</script>
